.container {
    display: flex;
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }
}

.icon-color-primary {
    fill: #0D70F2;
}

.icon-color-secondary {
    fill: #7729CB;
}

.icon-color-success {
    fill: #20C868;
}

.icon-color-warning {
    fill: #F5A629;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;

    .logos__logo {
        display: flex;
        width: 96px;
        position: relative;
        &:not(:first-child) {
            margin-left: 48px;
        }
    }
}

.todo__interface {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
    border-radius: 28px;
    box-shadow: 0 0 10px #d3dbe0;

    .todo__interface__topbar {
        display: flex;
        align-items: center;
        justify-content: left;

        &::after {
            content: "";
            display: block;
            width: 800px;
            height: 1px;
            background: #EDF2F7;
            position: absolute;
            align-self: flex-end;
        }

        .todo__interface__topbar__element {
            padding: 16px;
            position: relative;

            &:first-child {
                margin-left: 28px;
            }

            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 3px;
                left: 0;
                bottom: -1px;
                background: none;
                position: absolute;
                z-index: 1;
            }

            &.primary {
                &::after {
                    background: #0D70F2;
                }
            }
            &.secondary {
                &::after {
                    background: #7729CB;
                }
            }
            &.success {
                &::after {
                    background: #20C868;
                }
            }
            &.warning {
                &::after {
                    background: #F5A629;
                }
            }
        }
    }
}

// .todo__items {
//     display: flex;
//     flex-direction: column;
//     margin: 0 25px;
//     position: relative;

//     .todo__item__elements {
//         display: flex;
//         width: 100%;
//         // justify-content: space-between;
//         margin: 25px 0;
//         justify-content: space-between;

//         &::after {
//             content: "";
//             display: block;
//             width: 800px;
//             height: 1px;
//             background: #EDF2F7;
//             position: absolute;
//             align-self: flex-end;
//             margin: 0 0 -25px -25px;
//         }

//         .todo__elements__cotent {
//             display: flex;
//             flex-direction: column;
//             margin: 0 56px 0 25px;
//         }

//         .todo__elements__info {
//             display: flex;
//             flex-direction: column;
//             margin-right: 20px;
//             align-items: center;
//         }
//     }
// }